<div class="container">
  <mat-card class="card-connexion">
    <mat-card-header>
      <mat-card-title>{{ titre }}</mat-card-title>
      <mat-card-subtitle>Ergomada</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (submit)="resetPassword()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nouveaux mot de passe</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Retaper le mot de passe</mat-label>
          <input matInput type="password" formControlName="password2" />
        </mat-form-field>
        <div class="button-row" style="text-align: right">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid"
          >
            Enregistrer
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
